In [5]:
## STUDY 
import pandas as pd
import numpy as np
import re
import matplotlib

![](input/clean1.jpeg)

In these file I will attempt to clean the data set "attacks.csv". The aim is to try to prove my hypothesis "The highest chance to encounter a shark attack it's while surfing in South East Australia"

## CLEAN SHARKS DATA SET

In [6]:
shark_study = pd.read_csv("input/attacks.csv", encoding='cp1252')

In [7]:
shark_study

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN


> While having a quick look at the dataframe we can find that its a very extense frame with over 25723 rows. Also, the data looks very messy with a high number of NaN values, especially in the bottom of the frame

In [8]:
shark_study.shape

(25723, 24)

In [9]:
shark_study.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [10]:
shark_study.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

> Droping all duplicates to avoid errors. The data set has reduced from 25723 rows to 6321

In [11]:
shark_study = shark_study.drop_duplicates()
shark_study.shape

(6312, 24)

> The amount of null values each column has.  Unnamed 22 & 23 are practically empty

In [12]:
shark_study.isnull().sum(axis=0).sort_values(ascending=False)

Unnamed: 22               6311
Unnamed: 23               6310
Time                      3364
Species                   2848
Age                       2841
Sex                        575
Activity                   554
Location                   550
Fatal (Y/N)                549
Area                       465
Name                       220
Country                     60
Injury                      38
Investigator or Source      27
Type                        14
Year                        12
href formula                11
pdf                         10
href                        10
Case Number.1               10
Case Number.2               10
Date                        10
original order               3
Case Number                  2
dtype: int64

> When doing the sum of axis=1 we coun the null values per row.

In [13]:
shark_study.isnull().sum(axis=1).sort_values(ascending=False)

8702     24
25722    23
6309     23
6308     22
6307     22
         ..
1383      2
3042      2
3039      2
1386      2
0         2
Length: 6312, dtype: int64

> Do to the bast amount of empty raws i decied to keep only does that have less than 16 values of data per row

In [14]:
nulls_16 = shark_study.isnull().sum(axis=1)[shark_study.isnull().sum(axis=1)>16].index
nulls_16

Int64Index([6302, 6303, 6304, 6305, 6306, 6307, 6308, 6309, 8702, 25722], dtype='int64')

In [15]:
shark_study = shark_study.drop(index = nulls_16)
shark_study.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [16]:
shark_study.shape

(6302, 24)

##  REMOVE COLUMNS THAT LOOK UNNECESARY TO MY HYPOTHESIS

In [17]:
shark_study.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [18]:
shark_study = shark_study.drop(columns = ['Case Number', 'original order','Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'Unnamed: 22','Unnamed: 23'])
shark_study

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN

## Cleaning data to find patterns

In [19]:
shark_study.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

## Species

>Recall that the aim of these study is to prove that highest change to encounter a shark attack is while surfing in the South East side of Australia 

>Therefore I will filter the the Species column and remain with the 2 highhest species, the white shark and tiger shark

In [20]:
shark_study["Species "].isnull().sum()

2838

> Do to the high number of nun_values it seems logic to create a new Data Frame and assign them to a value ("Unknown Species")

In [21]:
shark_study['Species '] =shark_study['Species '].fillna("unknown species")
shark_study['Species '].value_counts()

unknown species                                               2838
White shark                                                    163
Shark involvement prior to death was not confirmed             105
Invalid                                                        102
Shark involvement not confirmed                                 88
                                                              ...
Juvenile nurse shark                                             1
Two sharks seen in vicinity: 2.4 m & 4.25 m  [8' & 14'] TL       1
.5 m shark                                                       1
White shark, 4.6 m                                               1
Hammerhead shark.                                                1
Name: Species , Length: 1550, dtype: int64

> Becasue there is a high number of Unknown species, I will filter the data frame into the two species that have a higher account

In [22]:
shark_study = shark_study[(shark_study["Species "]== "White shark" )| (shark_study[ "Species "] == "Tiger shark")]
shark_study['Species '].value_counts()

White shark    163
Tiger shark     73
Name: Species , dtype: int64


> The number of rows has reduce to 236, these decrease is due to the unknown species and unclarity of the species of the shark

In [23]:
shark_study.shape

(236, 14)

In [24]:
shark_study.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
6,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark
18,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark
23,23-Apr-2018,2018.0,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,32,5-inch cut to hand,N,21h50,Tiger shark
30,14-Apr-2018,2018.0,Unprovoked,BAHAMAS,New Providence,Nirvana Beach,Surfing,Bruce Rowan,M,NaN,No Injury. Shark swam away with the surf board,N,09h30,Tiger shark

## Activity 

> The Activity Column, Surfing is by far the highest number

In [25]:
shark_study['Activity'].value_counts()

Surfing                               45
Swimming                              29
Spearfishing                          17
Fishing                               15
Kayaking                               6
                                      ..
Free diving & spearfishing             1
Shark watching                         1
Rowing                                 1
Surfing (lying prone on his board)     1
Diving by wharf                        1
Name: Activity, Length: 97, dtype: int64

In [28]:

shark_study = shark_study[(shark_study["Activity"]== "Surfing" )| (shark_study[ "Activity"] == "Swimming") |(shark_study[ "Activity"] == "Spearfishing") |(shark_study[ "Activity"] == "Fishing")|(shark_study[ "Activity"] == "Kayaking")]

shark_study['Activity'].value_counts()

Surfing         45
Swimming        29
Spearfishing    17
Fishing         15
Kayaking         6
Name: Activity, dtype: int64

In [29]:
shark_study.shape

(112, 14)

## Country 

 > Country colunm will be used in our data.csv file to investigate the relationship between attacks and countries

In [30]:
shark_study['Country'].value_counts()

USA                               33
AUSTRALIA                         24
SOUTH AFRICA                      21
CROATIA                            6
NEW CALEDONIA                      4
NEW ZEALAND                        3
MEXICO                             2
BAHAMAS                            2
PAPUA NEW GUINEA                   2
FIJI                               2
BRAZIL                             2
GREECE                             2
NEW BRITAIN                        1
CANADA                             1
MALDIVES                           1
MALTA                              1
FEDERATED STATES OF MICRONESIA     1
TURKEY                             1
TONGA                              1
MAYOTTE                            1
FRANCE                             1
Name: Country, dtype: int64

## AREA 
> The Area will be used to create a graph in the data.csv.  We want to find out if the East cost of Australia is the most affected area

In [31]:
shark_study["Area"].value_counts()

California                       13
Western Cape Province            13
Hawaii                            9
Western Australia                 9
New South Wales                   7
Eastern Cape Province             5
Oregon                            5
South Australia                   4
Florida                           4
KwaZulu-Natal                     3
Primorje-Gorski Kotar County      2
South Province                    2
Pernambuco                        2
Corfu Island                      2
Queensland                        2
Victoria                          2
North Carolina                    2
North Island                      1
New Providence                    1
New Britain                       1
Mozambique Channel                1
10ºS, 142ºE                       1
Newfoundland                      1
Alifu Alifu Atoll                 1
Antibes                           1
Istria County                     1
Cook islans                       1
St. Thomas Bay                    1
Adriatic Sea                      1
Loyalty Islands                   1
South Coast, East New Britain     1
Ahirkapi coast                    1
Guerro                            1
Andros Islands                    1
Zadar County                      1
Vava'u                            1
Vita Levu                         1
 Primorje-Gorski Kotar County     1
Quintana Roo                      1
South Island                      1
Eastern Caroline Islands          1
Name: Area, dtype: int64

## Type
> The high number of unprovoked suggests that sharks tend to act by their own means

In [32]:
shark_study['Type'].value_counts()

Unprovoked    93
Boating       10
Boat           6
Provoked       2
Invalid        1
Name: Type, dtype: int64

## SEX

In [33]:
shark_study["Sex "].value_counts()

M    91
F    11
Name: Sex , dtype: int64

## FATAL 
> How often do the attacks end up in death.

In [34]:
shark_study["Fatal (Y/N)"].value_counts()

N          74
Y          35
UNKNOWN     2
Name: Fatal (Y/N), dtype: int64

## Year

In [35]:

shark_study["Year"].dtype

dtype('float64')

> Looking at the year column we can realize that after every date the .0 value is repetead, in the following colums ill attempt to remove it by using.split()

In [36]:
def years (x): 
    x = str(x) # the first thing is to change it from float
    x = x.split(".")
    x = x[0]
    
    if len(x) != 4:
        return 'date_not_given'
    else: 
        return x

In [37]:
shark_study['Year'] = shark_study['Year'].apply(years)

In [38]:
# checking if the function works. 
shark_study.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
6,03-Jun-2018,2018,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark
23,23-Apr-2018,2018,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing,Ahmed Rasheed,M,32,5-inch cut to hand,N,21h50,Tiger shark
30,14-Apr-2018,2018,Unprovoked,BAHAMAS,New Providence,Nirvana Beach,Surfing,Bruce Rowan,M,NaN,No Injury. Shark swam away with the surf board,N,09h30,Tiger shark
34,03-Apr-2018,2018,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,Lacerations to left knee & lower leg,N,15h00,White shark
53,31-Dec-2017,2017,Unprovoked,USA,Hawaii,"Hultin's Beach, Oahu",Surfing,Marjorie Mariano,F,54,Severe lacerations to left thigh & knee,N,18h00,Tiger shark

## Final Columns Remove

> In the following lines I will remove the Columns that are unnecesary to my study and I will print the final Data Set

In [44]:
shark_study.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [45]:
shark_study = shark_study.drop(columns = ['Location', 'Name','Age', 'Injury', 'Time',"Date"])

In [46]:
shark_study

,Year,Type,Country,Area,Activity,Sex,Fatal (Y/N),Species
6,2018,Unprovoked,BRAZIL,Pernambuco,Swimming,M,Y,Tiger shark
23,2018,Unprovoked,MALDIVES,Alifu Alifu Atoll,Fishing,M,N,Tiger shark
30,2018,Unprovoked,BAHAMAS,New Providence,Surfing,M,N,Tiger shark
34,2018,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Surfing,M,N,White shark
53,2017,Unprovoked,USA,Hawaii,Surfing,F,N,Tiger shark
...,...,...,...,...,...,...,...,...
5041,1930,Unprovoked,USA,Florida,Swimming,M,N,Tiger shark
5105,1928,Unprovoked,AUSTRALIA,Queensland,Fishing,M,N,Tiger shark
5231,1922,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,White shark
5545,1901,Unprovoked,SOUTH AFRICA,Western Cape Province,Swimming,M,Y,White shark
5887,1874,Boating,CANADA,Newfoundland,Fishing,M,N,White shark

## Exporting Data Frame

In [47]:
shark_study.to_csv("output/attacks_Clean.csv")